{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ country.name_short|title }} // cabinets
{% endblock %}

{% block content %}

  {% include 'data/_include_form-select-country.html' with country=country.slug url='/data/cabinets/' %}

  <h1>
    {{ country.flag }} · Cabinets
  </h1>

  <table class="table table-striped caption-top">

    <caption>
      List of cabinets in {{ country.name }}
    </caption>

    <thead>
      <tr>
        <th scope="col" class="d-none d-md-table-cell">ID</th>
        <th scope="col">Date</th>
        <th scope="col">
          <span
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Caretaker"
          >
            #
          </span>
        </th>
        <th scope="col">Name</th>
        <th scope="col" class="d-none d-md-table-cell">
          <i class="bi bi-people"></i> · Parties
        </th>
        <th scope="col" style="text-align: center">
          {% url 'admin:cabinets_cabinet_add' as admin_url %}
          {% include '_includes/admin.html' with url=admin_url icon='plus-circle' k='?country=' v=country.id %}
        </th>
      </tr>
    </thead>

    <tbody>
      {% for cabinet in cabinet_list %}
        <tr>
          <td class="d-none d-md-table-cell">
            <small>{{ cabinet.id }}</small>
          </td>
          <td>
            <a href="{{ cabinet.get_absolute_url }}">
              {{ cabinet.start_date|date:"Y-m-d" }}
            </a>
          </td>
          <td>
            {% if cabinet.caretaker %}
              <i
                class="bi bi-calendar-range"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                title="Caretaker"
              >
              </i>
            {% endif %}
          </td>
          <td>{{ cabinet.name }}</td>
          <td class="d-none d-md-table-cell">
            {% for party in cabinet.cabinetparty_set.all %}
              {% spaceless %}
                <a href="{{ party.party.get_absolute_url }}">
                  <small>{{ party.party.name_short }}</small>
                </a>
                {% if party.pm %}
                  <sup>
                    <i
                      class="bi bi-file-person"
                      data-bs-toggle="tooltip"
                      data-bs-placement="right"
                      title="Prime minister"
                    >
                    </i>
                  </sup>
                {% endif %}
                {% if party.defector %}
                  <sup>
                    <i
                      class="bi bi-door-open"
                      data-bs-toggle="tooltip"
                      data-bs-placement="right"
                      title="Defector"
                    >
                    </i>
                  </sup>
                {% endif %}
              {% endspaceless %}
            {% endfor %}
          </td>
          <td style="text-align: center">
            {% url 'admin:cabinets_cabinet_change' cabinet.id as admin_url %}
            {% include '_includes/admin.html' with url=admin_url icon='pencil' %}
          </td>
        </tr>
      {% endfor %}
    </tbody>

  </table>

  {% include '_includes/tooltip-initialize.html' %}

{% endblock %}
