name: Tests/Checks CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.12"]

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: >
          python -m pip install --root-user-action=ignore --upgrade pip &&
          python -m pip install
          --require-hashes --no-deps --quiet
          --root-user-action=ignore
          --requirement requirements-dev.txt

      - name: Setup Django
        working-directory: ./app
        run: |
          python manage.py migrate --verbosity 0
          python manage.py collectstatic --noinput --verbosity 0

      - name: Run tests
        working-directory: ./app
        run: pytest --quiet --cov --cov-report term-missing:skip-covered

      - name: Check Django app
        working-directory: ./app
        run: |
          python manage.py check

      - name: Check Python code
        run: |
          ruff check .
          ruff format --check .
